# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders and files
.vscode/
.idea/
*.swp

# Build output
dist/
build/

# Coverage reports
coverage/

# PM2 logs
pids/
*.pid
*.seed

# Optional npm cache directory
.npm/

# Others
.env.local
.env.*.local
